<!DOCTYPE html>
<html>
    <head>
	<title>Online Compiler 在线编译器 </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>

        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!--css文件-->
        <!--link rel="stylesheet" href="test.css"-->
        <link rel = "stylesheet" href=" {{url_for('static', filename='css/styles.css', _external=True)}}">
        <!-- ace -->
        <script src="http://cdn.bootcss.com/ace/1.2.9/ace.js"></script>
        <script src="http://cdn.bootcss.com/ace/1.2.9/ext-language_tools.js"></script>
		<script src = "{{url_for('static',filename = 'js/FileSaver.js',_external = True)}}"></script>

    </head>
    <body>
    <nav class="navbar navbar-default navbar-static-top ">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Online Compiler</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" id = "switcg_lang">
            <li ><a href="{{url_for('c')}}" id = "c" >c</a></li>
            <li><a href = "{{url_for('cpp')}}"id = "cpp">c++</a></li>
            <li><a href="{{url_for('python2')}}" id = "python2">python2</a></li>
            <li><a href="{{url_for('python3')}}" id = "python3">python3</a></li>
            <li><a href="#" id = "go" class = "btn disabled"role = "button" >go</a></li>
            <li><a href="#" id = "java" class = "btn disabled">java</a></li>
            <li><a href="#" id = "php" class = "btn disabled">php</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="https://github.com/suntangji/compiler" target = "_blank">github</a></li>
                <li><a href="https://www.suntangji.me" target = "_blank">blog</a></li>
				<li role="separator" class="divider"></li>
                <li><a href="mailto:sunxiaoji2012@163.com" target = "_blank">email</a></li>
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="editor"><textarea  class="form-control" rows="20"  name="textarea">
{{default_code}}
    </textarea>
    </div>
    <div id="but_submit">
    <button type="button" id="myButton" class="btn btn-success" data-loading-text="Loading..." autocomplete="off"data-toggle="popover" data-placement="bottom" title="提示"data-content = "如果需要输入，先输入数据再运行！！！"> run </button>
    <button type="reset" value = "Reset" class="btn btn-warning" id = "reset">reset</button>
    <button type="button" class="btn btn-danger" id = "save">save</button>
    <button type="button" class="btn btn-info" id = "btn_input">input</button>
    </div>

<!--<textarea class="form-control" rows="5" name="textarea2" placeholder="运行结果" style = "width:50%;margin:1% auto;resize:none;" ></textarea>-->
    <div class="modal fade nav_zindex" id = "display" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content alert alert-success alert-dismissable">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true"><span >&times;</span></button>
              <div class="modal-title" id="myModalLabel">output</div>
            </div>
             <div class="modal-body" id = "output">
<!--{{output}} -->
          </div>
          </div>
         </div>
    </div>

    <div class="modal fade nav_zindex" id="myModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">input</h4>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label for="txt_statu"></label>
                <textarea name="input_text" class="form-control" id="txt" rows = "3" placeholder="多个输入用回车分割" style = "resize:none"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>取消</button>
              <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>确定</button>
            </div>
          </div>
        </div>
      </div>

    </body>
    <!--script src="test.js" type="text/javascript"></script-->
	<script>
		$('#{{lang}}').parent().addClass('active');
	</script>
    <script src="{{url_for('static', filename='js/scripts.js', _external=True)}}"></script>
</html>
